body {
  background-color: #e1e2e2;
}

/* Painel Indicadores */

.indicador-box {
  background-color: #ffffff;
  border-left: 8px solid #adb5bd;
  border-radius: 0.5rem;
  padding: 2.0rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  transition: transform 0.2s ease;
}

.indicador-box:hover {
  transform: translateY(-2px);
}

.sigla {
  font-size: 1.5rem;
  font-weight: bold;
  flex: 0 0 130px; 
  text-align: center;
  border-right: 2px solid #dee2e6;
  padding-right: 1rem;
  margin-right: 1.5rem;
  color: #343a40;
}

.descricao {
  flex: 1;
}

.descricao .titulo {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: #212529;
}

.descricao .texto {
  font-size: 1rem;
  color: #495057;
}

.img-painel {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.cvli {
  border-left-color: #f28b82;
  background-color: #fff6f6;
}

.cvp {
  border-left-color: #aecbfa;
  background-color: #f4f9ff;
}

.siva {
  border-left-color: #ccff90;
  background-color: #f6fff4;
}

.sivar {
  border-left-color: #d7aefb;
  background-color: #faf6ff;
}

.aaf {
  border-left-color: #020202;
  background-color: #b5b4b6;
}

.geral {
  border-left-color: #faa508;
  background-color: #f3d0a3;
}
/* Painel Indicadores */

/* Link Navegação */
.navbar-custom {
  background: linear-gradient(90deg, #5a5959, #2c2c2c);
  padding: 0.8rem 0;
}

.nav-link {
  position: relative;
  transition: color 0.3s;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block; 
  margin-top: 5px;
  right: 0;
  background: #ffeb79; 
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
  background: #ffeb79;
}
/* Link Navegação */